*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased !important;
}

body,
input,
textarea,
button {
  font: 14px 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  transition: color 0.2s;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  flex-direction: column;
}
